<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1><%= @application.name %></h1>
<p><%= @application.url %></p>
<p>
  <% @events.each do |event| %>
    <%= event[0] %>: <%= event[1].count %><br/>
  <% end %>
</p>

<%= pie_chart @application.events.group(:name).count %>
<%= line_chart @application.events.group_by_day(:created_at, range: 3.weeks.ago..Time.now).count %>