<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table width="500">
  <thead>
    <tr>
      <th>Application</th>
      <th>Name</th>
      <th>Created at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.application.name %></td>
        <td><%= event.name %></td>
        <td><%= event.created_at %></td>
        <td><%= link_to 'Edit', edit_api_event_path(event) %></td>
        <td><%= link_to 'Destroy', api_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>